{erl_opts,
 [debug_info,
  nowarn_export_all,
  {parse_transform, lager_transform}]}.

{plugins, [rebar3_run]}.
{deps,
 [lager]}.

{relx, [{release, { pevm_bench, "0.1.0" },
         [pevm_bench,
          lager,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
